<h1> Foods </h1>

<form method="$POST" action="/delete/<<%=foodData[0]._id%>
    <%=foodData[0].food_name%>
    <input type="submit" value="delete first song">
</form>

<a href="/insert">insert hard code value</a>

<form method="POST" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">

</form>